[submodule "PittAPI"]
	path = PittAPI
	url = https://github.com/Pitt-CSC/PittAPIWebWrapper.git
[submodule "apiwrapper/PittAPI"]
	path = apiwrapper/PittAPI
	url = https://github.com/Pitt-CSC/PittAPIWebWrapper.git
